/* less */
@import "./theme.less";

html, body, body > div:first-child {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: @main-font;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

button {
  font-family: @main-font;
}



