@font-face {
    font-family: robotoSlabLight;
    src: url('../fonts/Roboto_Slab/static/RobotoSlab-Light.ttf');
}


@main-font: robotoSlabLight;
// @main-bg: #86dbee;
// @main-bg: #bdf9e4;
// @main-bg: #c5ebf0;
@main-bg: #f5f5f5;

// @main-color: #000f01;
@main-color: #011202;

@main-button-bg: #EEEEF0;

@grid-item-bg: #fefefe;
@item-title-bg: #eeae1c;
@item-title-color: @main-color;
// @item-abv-bg: #f62a51;
@item-abv-bg: #2d60928a;
// @item-abv-color: wheat;
@item-abv-color: @main-color;
@item-ibu-bg: #67b868;
@item-ibu-color: @main-color;

// background colors
@item-image-bg-color-1 : #d39fa94e;
@item-image-bg-color-2 : #2d609240;
@item-image-bg-color-3 : #eeec8640;
@item-image-bg-color-4 : #67b86840;
@item-image-bg-color-5 : #eeae1c40;
@item-image-bg-color-6 : #bdf9e440;
@item-image-bg-color-7 : hsla(139, 48%, 64%, 0.257); //#e96e8464;
@item-image-bg-color-8 : #c5d7e330; // #846a6040;
@item-image-bg-color-9 : #e1e35b40;
@item-image-bg-color-10: #c7a45340;

// popup
@popup-content-bg: @main-bg;
@popup-avatar-border-color: #D7D7D9;


